#head1 {
    height: 3rem;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.para1{
     height: 3rem;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}